.spinner-overlay {
  background: rgba(9, 52, 57, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(245, 236, 236);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.cart {
  color: red;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 1.5rem;
  background: white;
  padding: 0.5rem;
  border-radius: 100%;
  position: center;
  cursor: pointer;
}

.img-container {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 300px;
  overflow: hidden;

}

.opacity {
  opacity: 0;
}

.container-general {
  background: #fff;
  border-radius: 10px 10px 0 0;
  padding: 20px 0;
}

.contenido {
  background: #fff;
  border: none;

  font-size: 20px;


}







/* .product-container {
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-x: scroll;
  width: 600px;
  border-radius: 20px;
} */

.ecommerce {
  box-decoration-break: slice;
  /* background: rgba(204, 78, 78, 0.532); */
  text-decoration-color: rgba(43, 226, 98, 0.765);
}

body.darkmode {
  background-color: white;
  color: black;
}

.d-block {
  width: 70%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.card {
  border-top: 2px solid black !important;
  border: none !important;
  ;
}